<main>
    <div class="module Sun"><div id="sun"></div>Sun<p>Type G2V</p></div>
    <div class="module Planet"><div class="planet my"></div>Mercury<p>0.4 AU</p></div>
    <div class="module Planet"><div class="planet v"></div>Venus<p>0.72 AU</p></div>
    <div class="module Planet"><div class="planet e"></div>Earth<p>1.0 AU</p></div>
    <div class="module Planet"><div class="planet m"></div>Mars<p>1.5 AU</p></div>
    <div class="module Planet"><div class="planet j"></div>Jupiter<p>5.2 AU</p></div>
    <div class="module Planet"><div class="planet s"></div>Saturn<p>9.6 AU</p></div>
    <div class="module Planet"><div class="planet u"></div>Uranus<p>19.2 AU</p></div>
    <div class="module Planet"><div class="planet n"></div>Neptune<p>30.0 AU</p></div>
</main>