:root{
    --favorite-pixel-size: 20px;
    --second-favorite-pixel: 200px;
}

body {
    font-family: Helvetica, sans-serif;
    color: white;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

main{
    color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: var(--second-favorite-pixel);
    gap: var(--favorite-pixel-size);
}

.module{
    background: gray;
    border-radius: var(--favorite-pixel-size);
    font-weight: bold;
}

.module:hover{
    color:white;
    background: black;
}

p{
    margin-top: 10px;
    font-size: var(--favorite-pixel-size);
    font-weight: normal;
}

.module.Sun{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 3em;
}

.module.Planet{
    font-size: 1.5em;
}

#sun{
    background: yellow;
    border-radius: 50%;
    width: var(--second-favorite-pixel);
    height: var(--second-favorite-pixel);
    margin: 30px 50px 75px 50px;
}

.planet{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-top: var(--favorite-pixel-size);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--favorite-pixel-size);
}

.planet.my{
    background: #36454F;
}

.planet.v{
    background: #E1C16E;
    background-image: linear-gradient(#E1C16E, #E1C16E, #E1C16E, white);
}

.planet.e{
    background: #0000FF;
}

.planet.m{
    background-image: linear-gradient(to top, red, red, red, white);
    opacity: 0.5;

}

.planet.j{
    background-image: linear-gradient(white, #FFA500, #A52A2A, red);
}

.planet.s{
    background-image: linear-gradient(#FCF55F, #A52A2A, #FCF55F);
}

.planet.u{
    background: #00008B;
}

.planet.n{
    background: #ADD8E6;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    text-align: left;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
